@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Oswald', sans-serif;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 100;
	height: 72px;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
	background-color: whitesmoke;
}

.header_content {
	max-width: 966px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 87px 16px 81px;
}

.logo {
	width: 119.23px;
	height: 12.31px;
	transition: all 0.3s ease-out;
}

.logo:hover {
	transform: scale(1.1);
}

.right_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sign-in_container {
	margin-right: 27px;
}

.sign-in {
	width: 78px;
	height: 40px;
	transition: all 0.3s linear;
}

.sign-in:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 4px 2px skyblue;
	cursor: pointer;
}

.sign-in:active {
	transform: scale(0.95);
	box-shadow: none;
	background-color: whitesmoke;
}

.basket {
	width: 18.95px;
	height: 21.74px;
	transition: all 0.2s linear;
}

.basket:hover {
	transform: scale(1.3);
}

.basket:active {
	transform: scale(1.0);
}

.main {
	max-width: 966px;
	padding: 50px 87px 80px 81px;
	margin: auto;
}

.search_container {
	margin-top: 73px;
}

.search_form {
	text-align: center;
}

.search {
	height: 24px;
	width: 90%;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
}

.submit {
	height: 34px;
	background-color: whitesmoke;
	border-radius: 5px;
	border-color: lightgray;
	transition: all 0.3s ease;
}

.submit:hover {
	cursor: pointer;
	box-shadow: 0px 0px 2px 1px skyblue;;
	transform: scale(1.05);
}

.submit:active {
	transform: scale(0.95);
}

.title {
	margin: 56px 0 16px 0;
}

.cards_container {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	margin-bottom: 16px;
	overflow: hidden;
	transition: box-shadow, transform 0.2s ease;
	justify-content: center;
	padding-top: 5px;
}

.card a {
	text-decoration: none;
	color: black;
}

.card:hover {
	background-color: whitesmoke;
	box-shadow: 0px 0px 4px 2px skyblue;
	transform: scale(1.02);
}

.img {
	width: 100%;
	height: 256px;
	transition: all 0.3s linear;
}

.img:hover {
	transform: scale(1.05);
}

.card__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.card_type {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: gray;
}

.card_time {
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
}

.footer {
	background-color: #262626;
	padding: 56px 87px 40px 81px;
}

.footer_content {
	max-width: 966px;
	margin: auto;
}

.footer_logo {
	width: 190.77px;
	height: 19.69px;
}

.info_container {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin: 41px 0;
	padding: 32px 0 48px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.language {
	appearance: none;
	padding: 0px 1em 0px 43px;
	width: 227px;
	height: 40px;
	font-size: 16px;
	font-weight: 400;
	line-height: 15.23px;
	box-sizing: border-box;
	color: whitesmoke;
	border: none;
	border-radius: 5px;
	background: url(Shape.png) no-repeat #3B3B3B 50% 50%;
}

.language:hover {
	cursor: pointer;
}

.social_container {
	margin-top: 33px;
}

.social {
	width: 92px;
	height: 60px;
}

.column2, .column3 {
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
}

.column2 a, .column3 a, .docs a {
	color: white;
	text-decoration: none;
}

.markets_container {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid white;
	padding-bottom: 40px;
}

.apple {
	width: 120.66px;
	height: 40px;
	margin-right: 41px;
	transition: all 0.3s linear;
	border-radius: 6px;
}

.google {
	width: 135px;
	height: 40px;
	transition: all 0.3s linear;
	border-radius: 6px;
}

.apple:hover, .google:hover {
	transform: scale(1.1);
	box-shadow: 0 0 4px 3px whitesmoke;
}

.apple:active, .google:active {
	transform: scale(0.9);
}

.docs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 40px;
}

.docs p {
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
}

.column2 a, .column3 a, .docs a {
	transition: all 0.2s ease;
}

.column2 a:active, .column3 a:active, .docs a:active {
	color: #57AD56;
}


.btn-up {
	position: fixed;
	right: 16px;
	bottom: 24px;
	transition: all 0.3s ease;
	width: 80px;
	height: 80px;
}

.btn-up:hover {
	box-shadow: 1px 1px 10px 1px #118854;
}






@media screen and (max-width: 320px) {

	.header {
		height: 60px;
	}

	.header_content {
		padding: 8px 15px;
	}

	.main {
		padding: 10px 15px;
	}

	.footer {
		padding: 10px 15px;
	}

	.card:hover {
		transform: none;
	}

	.img:hover {
		transform: none;
	}

	.apple {
		margin-right: 21px;
	}

	.apple:hover, .google:hover {
		transform: none;
	}
}

@media screen and (max-width: 768px) {
	.header {
		height: 60px;
	}

	.header_content {
		padding: 8px 15px;
	}

	.main {
		padding: 10px 15px;
	}

	.footer {
		padding: 10px 15px;
	}
	.card:hover {
		transform: none;
	}

	.img:hover {
		transform: none;
	}

	.btn-up {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.submit {
		margin-top: 10px;
	}
}